/* COLORS */
/* BORDERS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Lato";
  margin: 10px 50px;
}

*:focus {
  outline: 0 !important;
}

.searchbox {
  height: 60px;
  width: 100%;
  background-color: #E7E7E7;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchbox__icon {
  margin: auto 20px;
}

input[name=idea] {
  width: 100%;
  height: 40px;
  margin: auto 20px;
  background-color: transparent;
  border: none;
}

.TheRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  width: 410px;
  height: max-content;
  margin: 30px 0;
  border-radius: 5px 5px 5px 5px;
}
.recipe .recipePic {
  height: 178px;
  background: #c1c1c1;
  border-radius: 5px 5px 0 0;
}
.recipe .recipePrev {
  border-radius: 0 0 5px 5px;
  background-color: #E7E7E7;
  padding: 20px;
  font-size: x-small;
  font-weight: normal;
}
.recipe h2 {
  margin: 0;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-prez {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.recipe-prez__timing {
  display: flex;
  align-items: center;
}
.recipe-prez__timing img {
  height: 20px;
  margin-right: 5px;
}
.recipe-prez__timing p {
  margin: 0;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
}

.recipe-details {
  display: flex;
}
.recipe-details__ingredient ul {
  list-style-type: none;
  padding: 0;
}

.recipe-details__ingredient,
.recipe-details__preparation {
  height: 110px;
  width: 170px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#msgaide {
  margin-top: 20px;
  display: none;
}

/* APPARENCE */
/*#region*/
.ListFilter {
  display: flex;
}

.Block {
  height: 70px;
  max-width: 500px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 0 0;
  position: relative;
}

.ListFilter input[type=research] {
  font-weight: bold;
  text-indent: 10px;
  border: none;
  margin: 25px 5px 20px;
  width: 80%;
}

.ListFilter input[type=research]::placeholder,
input[name=ingredientsBlock],
input[name=appareilBlock],
input[name=ustensilesBlock] {
  color: white;
  width: 100%;
}

.ListFilter div {
  border: none;
}

input[name=ingredientsBlock],
.ingredientsBlock,
.ingredientsBlock .asfList {
  background: #3282F7;
}

input[name=appareilBlock],
.appareilBlock,
.appareilBlock .asfList {
  background: #68D9A4;
}

input[name=ustensilesBlock],
.ustensilesBlock,
.ustensilesBlock .asfList {
  background: #ED6454;
}

/*#endregion*/
/* TRANSITIONS */
/*#region*/
.asfList {
  box-sizing: border-box;
  max-height: 25em;
  overflow: hidden;
  padding: 0px 15px 8px;
  border-radius: 5px 5px 5px 5px;
  columns: 3 6em;
  column-gap: 3em;
}
.asfList a {
  text-decoration: none;
  color: white;
  font-size: small;
  display: block;
}

/*#endregion*/
/* CHEVRONS */
/*#region*/
.chevron {
  position: relative;
  top: 1.8em;
  color: white;
  position: absolute;
  background-color: transparent;
  border: none;
  transform: rotate(0turn);
  transition: transform 550ms ease-in-out;
}

.ingredientsBlock:hover, .ingredientsBlock:active,
.appareilBlock:hover,
.appareilBlock:active,
.ustensilesBlock:hover,
.ustensilesBlock:active {
  cursor: pointer;
}
.ingredientsBlock:hover .chevron, .ingredientsBlock:active .chevron,
.appareilBlock:hover .chevron,
.appareilBlock:active .chevron,
.ustensilesBlock:hover .chevron,
.ustensilesBlock:active .chevron {
  transform: rotate(-0.5turn);
}

/*#endregion*/
/* XXXX */
/*#region*/
/*#endregion*/
.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  border-radius: 5px 5px 5px 5px;
  background: grey;
  padding: 5px 15px;
  color: white;
  display: flex;
  margin: 0 5px 5px 0;
}

.tag-txt {
  margin-right: 5px;
}

.color-appareilBlock {
  background-color: #68D9A4;
}

.color-ingredientsBlock {
  background-color: #3282F7;
}

.color-ustensilesBlock {
  background-color: #ED6454;
}

header {
  text-align: center;
}

h1 {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  line-height: 47px;
  color: #D04F4F;
}

/*# sourceMappingURL=style.css.map */
