/* APPARENCE */ /*#region*/
.ListFilter {
  display: flex;
}

.Block {
  height: 70px;
  width: 170px;
  @include bradius;
  margin: 20px 20px 0 0;
  position: relative;
}
.ListFilter input[type="research"] {
  // height: 70px;
  // width: 170px;
  // color: white;
  font-weight: bold;
  text-indent: 10px;
  // @include bradius;
  border: none;
  margin-top: 25px;
  width: 80%;
  // margin: 20px 20px 0 0;
}

.ListFilter input[type="research"]::placeholder {
  color: white;
  width: 100%;
}

.ListFilter div {
  border: none;
}

input[name="ingredientsBlock"],
.ingredientsBlock {
  background: $color-ingredient;
}

input[name="appareilBlock"],
.appareilBlock {
  background: $color-appareil;
}

input[name="ustensilesBlock"],
.ustensilesBlock {
  background: $color-ustensile;
}
/*#endregion*/

/* TRANSITIONS */ /*#region*/
.ListFilter div {
  transition: width 500ms, height 750ms;
  &:active,
  &:hover {
    width: 400px;
    height: 300px;
  }
}

#ingredientsList {
  display: none;
  flex-direction: column;
  a {
    text-decoration: none;
    color: white;
  }
}

//-------- 1er essai
.show {
  display: block;
}
//-------- 1er essai </

/*#endregion*/

/* CHEVRONS */ /*#region*/
.chevron {
  position: relative;
  top: 1.8em;
  color: white;
  position: absolute;
  background-color: transparent;
  border: none;
  transform: rotate(0turn);
  transition: transform 550ms ease-in-out;
}
.ingredientsBlock,
.appareilBlock,
.ustensilesBlock {
  &:hover,
  &:active {
    cursor: pointer;
    .chevron {
      transform: rotate(-0.5turn);
    }
  }
}
/*#endregion*/

/* XXXX */ /*#region*/
/*#endregion*/
