.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  @include bradius;
  background: grey;
  padding: 5px 15px;
  color: white;
  display: flex;
  margin: 0 5px 5px 0;
}

.tag-txt {
  margin-right: 5px;
}

.color-appareilBlock {
  background-color: $color-appareil;
}

.color-ingredientsBlock {
  background-color: $color-ingredient;
}

.color-ustensilesBlock {
  background-color: $color-ustensile;
}
